:root {
    --light-green: #8CBF4C;
    --gray-text: #6D6D6D;
    --light-gray: #F2F2F2;
    --dark-gray: #3E3E3F;    
}
body{
	font-family: 'Fira Sans', sans-serif;
	color: var(--gray-text) !important;
	position: relative;
	font-size: 14px;
}
button:focus {outline:0 !important;}
/*----------------------------- PHONE VERSION -----------------------------*/
/*------------- GENERAL -------------*/
.centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
section.section{
	padding: 3rem 0;
}
.sectionTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}
a.login {
    background: var(--light-green);
    text-transform: uppercase;
    color: #fff !important;
    padding: 0.5rem 1.2rem !important;
    border-radius: 3px;
}
.navbar-light .navbar-nav .nav-link.active{
    color: var(--light-green) !important;
    font-weight: 600 !important; 
}
/*------------- SLIDER -------------*/
#slider {
    height: 650px !important;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}
#slider div:nth-child(1) {
    width: 90%;
}
#slider div p:nth-child(1){
	font-size: 2.2rem;
	line-height: 2.5rem;
	font-weight: 600;
}
#slider button{
	color: #fff;
	display: block;
	background-color: var(--light-green);
	margin-top: 2rem;
	padding: 1rem 5rem;
    font-weight: 600;
}
#slider div:nth-child(2){
	position: absolute;
    bottom: 5%;
    left: 49%;
}
#slider div:nth-child(2) svg{
	color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
}
/*------------- ABOUT -------------*/
#about .sectionTitle{
	color: var(--light-green);
}
#about>.container>.row>div:nth-child(2)>.row>.col>img{
	margin-bottom: 1rem;
}
#about>.container>.row>div:nth-child(1)>img{
	margin-bottom: 3rem
}
/*------------- HOW WORK-------------*/
#howWork{
	background-color: var(--light-gray);
}
#howWork p.title{
	font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0;
}
#howWork .row:nth-child(2)>div{
	margin-bottom: 2.5rem
}
#howWork .row:nth-child(2)>div>p:nth-child(3){
	width: 50%;
	display: block;
	line-height: 1rem;
}
#howWork img{
	margin-bottom: 1rem;
}
.lineNumber{
	display: none;
}
/*------------- PRICING -------------*/
section#plans{
	background-color: var(--light-green);
}
section#plans p.sectionTitle{
	color: #fff;
}
.boxContent{
	background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px #58585878;
    margin-bottom: 1.5rem;
}
.boxContent div:nth-child(1){
	background-color: var(--light-gray);
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.boxContent div:nth-child(1) p{
	margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}
.yellow{
	color: #FAB64B;
}
.bgYellow{
	background-color: #FAB64B;
}
.orange{
	color: #E75645;
}
.bgOrange{
	background-color: #E75645;
}
.green{
	color: #316432;
}
.bgGreen{
	background-color: #316432;
}
.boxContent div:nth-child(2){
	padding: 2.2rem
}
.boxContent div:nth-child(2) p svg{
	font-size: 9px;
    margin-right: 10px;
}
.boxContent div:nth-child(2) button{
	width: 100%;
	color: #fff;
	font-weight: 600;
}
.boxContent div:nth-child(2) p:nth-child(5){
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem 0
}
/*------------- ODOO -------------*/
#odoo{
	height: 400px;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  	justify-content: center;
  	align-items: center;
  	color:#fff; 
}
#odoo div:nth-child(1) p:nth-child(1){
	font-size: 2rem;
	font-weight: 600;
	margin: 0;
}
/*------------- CONTACT -------------*/
section#contact form > button{
	background-color: var(--light-green);
	color: #fff;
	font-weight: 600;
}
section#contact>.container>.row>div:nth-child(1){
	margin-bottom: 2rem;
}
/*------------- FOOTER -------------*/
footer.section{
	padding: 2rem 0;
	background-color: #3E3E3F;
}
footer .contentSection > p{
	padding: 1rem 0 0 0;
}
/*------------- COPYRIGHT -------------*/
.copyright{
	padding: 1rem 0 0 0
}
/*----------------------------- TABLET VERSION -----------------------------*/
@media (min-width: 768px) and (max-width: 992px){
	#slider div:nth-child(1) {
    	width: 70%;
	}
}
/*----------------------------- DESKTOP VERSION -----------------------------*/
@media (min-width: 992px){
	#slider div:nth-child(1) {
    	width: 40%;
	}
	section.section{
		padding: 5rem 0;
	}
	#about>.container>.row>div:nth-child(1)>img{
		margin-bottom: 3rem
	}
	#howWork .row:nth-child(2)>div>p:nth-child(3) {
    width: 100%;
	}
    section#contact>.container>.row>div:nth-child(1) {
    	margin-bottom: 0;
	}
	.lineNumber {
		display: flex;
	    height: 50px;
	    background-image: url(../img/line.png);
	    background-size: 100%;
	    background-repeat: no-repeat;
	}
	.circle {
	    height: 40px;
	    width: 40px;
	    border-radius: 50%;
	    border: 3px solid #cecece;
	    background: #f2f2f2;
	    color: #cecece;
	}
	 .circle span {
	    font-weight: 600;
	    font-size: 1.5rem;
	    text-align: center;
	    display: inherit;
	}
}